.upload-label {
  display: flex;
  padding: 5px 35px;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #000;
  cursor: pointer;
}

.upload-text {
  display: block;
}

.add-container {
  margin-right: 12px;
}

.input-box {
  width: 100%;
  border: none;
  height: 56px;
  outline: none;
  background: rgba(228, 232, 238, 0.35);
}

@media (max-width: 600px) {
  .upload-text {
    display: none;
  }

  .upload-label {
    padding: 5px;
  }
  .add-container{
    margin-right: 0;
  }
  .input-box {
    height: 36px;
  }
}